head{
    font-family: "Arial"
}
body{
    font-family: "Arial";
    background-color: #f9f9f9;
}
nav {
    margin: .5em;
    font-family: "Arial";
}



/*header{*/
    /*background: #999;*/
    /*color: white;*/
    /*padding: 5px 15px 0px 15px;*/
/*}*/

/*header h1{*/
    /*margin:0;*/
    /*display: inline;*/
/*}*/

li {
    /*background: black;*/
}

nav {
    margin: 0px;
    width: 100%;
    /*height: 200px;*/
    background-color: black;
    display: block;
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*display: inline;*/

}


nav li { /*boxes and space behind page names*/
    /*list-style-type: none;*/
    /*display: inline;*/
    background: black;
    /*padding: 0 15 0 15;*/
    /*margin: 0 0 0 0;*/
    float: left;
}

nav li a, .drop_button {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover {
    background-color: maroon;
}

nav li.dropdown {
    display inline-block;
}

nav .drop_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

nav .drop_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .drop_content a:hover {background-color: beige}

nav .dropdown:hover .drop_content {
    display: block;
}


nav .active{
    background-color: beige;
}

nav .drop_button.active {
    background-color: maroon;
}

#rowBanner {
    width: 100%;
    height: 150px;
    background-color: black;
    color: gold;
    display: block;
    position: relative;
    z-index: -1;
}

/*nav ul li ul li  {*/
    /*!*list-style-type: none;*!*/
    /*display: inline;*/
    /*background: black;*/
    /*!*padding: 0 0 5 0;*!*/
    /*!*margin: 0;*!*/

    /*float: left;*/

/*}*/

/*nav ul li ul li a{*/
    /*color: white;*/
    /*display: inline-block;*/
/*}*/

#sideBarContainer {
    float: left;
    display: block;
    /*width: 20%;*/
    position: relative;
    height: 100%;
    color: silver;
}
#sideBarContainer ul {
    list-style-type: none;
    display: block;

    margin: 0;
    padding: 0;
    overflow: hidden;
    backgroundcolor: black;
}


#sideBarContainer li{
    display: block;
    background: silver;
    border-bottom: 1px solid grey;
}
#sideBarContainer li a {
    display: block;
    padding: 14px 16px;
}

#sideBarContainer .sideBar.active{
    background-color: beige;
    color: darkblue;
    bold;
}

#primaryContent {
    font-family: "Arial";
    margin-left: 16%;
    width: 800px;
    min-width: 50%;
    line-height:200%;
    display: block;


}
#bylaw {
    font-family: "Georgia";
    width: 90%;
    min-width: 400px;
    left: 40px;

}

footer{
    clear: both;
}